/* header.css */

/* header */
header {
    width: 100vw;
    height: 152px;
    background-color: rgba(243, 213, 192, 0.66);
}

/* Hamburger */
#menuHamburger {
    width: 30px;
    cursor: pointer;
}
#menuHamburger i {
    font-size: 30px;
    color: #5b6d5b;
    position: absolute;
    top: 61px;
    left: 5vw;
}

/* logo */
#menuLogo {
    width: 370px;
    height: 102px;
    font-size: 70px;
    font-weight: 800;
    color: #5b6d5b;
    position: absolute;
    top: 41px;
    left: calc(50vw - 185px);
    cursor: pointer;
}

/* nav */
nav {
    position: absolute;
    top: 69px;
    right: 5vw;
}
nav ul {
    display: flex;
}
nav > ul > li {
    color: #5b6d5b;
    margin-left: 20px;
    cursor: pointer;
}

#socialLoginContainer {
    display: flex;
}

#navLogin {
    margin-top: -10px;
}
#navLogin a {
    position: relative;
    top: 13px;
    left: 53px;
}
/* button */
button {
    border: none;
    margin: 0 15px 0;
    cursor: pointer;
}
.logInButton {
    background-color: #5b6d5b;
    color: #f3d5c0a8;
}
.button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
    header > nav {
        visibility: hidden;
    }
}